@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #1e3a8a; /* Tailwind's blue-900 color */
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}


